<!--Main Container-->
<div class="mainContainer">
    <!--Header-->
    <Header class="headers">
        <div class="logo">
          <img src="brickclay-logo.svg" alt="Brickclay" >
        </div>
        <ul class="list">
              <li>Services</li>
              <li>Technologies</li>
              <li>Projects</li>
              <li>Blogs</li>
              <li>Company</li>
        </ul>
        <div class="Call">
            <h3>Schedule a Call</h3>
            <button>Contact Us</button>
        </div>
      </Header>
    <div class="page">

    </div>
    <Footer class="footers">
      <div class="footer-top">
        <small class="work-title">WORK WITH US</small>
        <div class="description">
          <h2>Let’s build something great together</h2>
          <button>Schedule a Call</button>
        </div>
      </div>
      <div class="footer-menu"></div>
      <div class="footer-bottom"></div>
    </Footer>
</div>
